# Auto detect text files
* text=auto

# Force LF for shell scripts (required for Linux CI)
android/gradlew text eol=lf
*.sh text eol=lf

# Binary files
android/gradle/wrapper/gradle-wrapper.jar binary
