FIREBASE_DATABASE_URL=https://crowdtransit-app-default-rtdb.firebaseio.com
FIREBASE_PROJECT_ID=crowdtransit-app
GOOGLE_APPLICATION_CREDENTIALS=./service-account.json
OPENROUTESERVICE_API_KEY=your-key-here
TRANSITLAND_API_KEY=your-key-here
